body {
  width:100%;
  height:100%
}

.scroll-container{
  overflow: auto;
  white-space: nowrap;
  padding: 5px 70px 5px 20px;
  background: transparent;
  height: 320px;
  border-radius:15px;
}

.gridscroll{
  display:inline-block;
}

.gridscroll img {
  height: 300px;
  width: auto;
  margin-right:22px;
}

/*Custom colors for leaflet clusters */ 
.marker-custom-small {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 230, 230);
}
.marker-custom-small div {
  background-color: rgb(194, 197, 203);
}

.marker-custom-medium {
  color: rgb(255, 255, 255);
  background-color: rgb(168, 173, 184);
}
.marker-custom-medium div {
  background-color: rgb(106, 115, 124);
}

.marker-custom-large {
  color: rgb(255, 255, 255);
  background-color: rgb(83, 91, 101);
}
.marker-custom-large div {
  background-color: rgb(55, 61, 67);
}
